#title {
  text-align: center;
}

.button-primary.button {
  position: relative;
  top: 4px;
}

#inside-cont {
  margin-top: 5px;
}

#movie-poster {
  display: block;
  width: 100%;
}

#year {
  text-align: right;
}
