#global {
  margin-top: 50px;
}

#title {
  text-align: center;
}

.button-primary.button {
  position: relative;
  top: 5px;
}

#left-well {
  padding: 2% 0 0;
}

/*See Guardian of the galaxy*/

#movie-poster {
  display: inline-block;
  width: 100%;
}

#year {
  text-align: right;
}

#desc {
  margin-bottom: 0;
}
